# Latex files

*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz

data.tex
date.tex
bank_details.tex

# Config files
*.json

# Python files
*.pyc

# MacOS files
.DS_Store

# Data files
*.db

# Vim files
*.swp
