# Latex files
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz

data.tex
date.tex
bank_details.tex

# Config files
*.json
*/data/*
*/config/*

# Python files
*.pyc
venv/*
*.egg-info/*

# MacOS files
.DS_Store

# Data files
*.db

# Vim files
*.swp
