{% macro render_form_input_basic(field, icon = '',  placeholder = '', size = 20) -%}
  <div class='input-group'>
    <i class="input-group-addon">
      <i class="fa {{ icon }} fa-fw"></i>
    </i>
    <i class='sr-only'>{{ field.label }}</i>
    {{ field(size=size, class='form-control', placeholder=placeholder) }}
  </div>
{%- endmacro %}

{% macro render_form_input_checkbox(field, icon = '', size = 12) -%}
  <div class='input-group'>
    <i class="input-group-addon">
      <i class="fa {{ icon }} fa-fw"></i>
    </i>
    <i class='sr-only'>{{ field.label }}</i>
    {{ field(size=size, class='form-control') }}
  </div>
{%- endmacro %}

{% macro render_tenant(dh, tenant) %}
  <tr>
    <td style='vertical-align:middle'>
      {{ tenant.name }}
    </td>
    <td class='text-center' style='vertical-align:middle'>
      {{ '%.2f' % dh.ComputeTenantBalance(tenant) }} <i class='fa fa-eur'></i>
    </td>
    <td class='text-center' style='vertical-align:middle'>
      <i class='fa fa-fw fa-{{ "check" if tenant.is_living else "close" }}'></i>
    </td>
    <td class='text-center' style='vertical-align:middle'>
      <i class='fa fa-fw fa-{{ "check" if tenant.is_home else "close" }}'></i>
    </td>
    <td class='text-center' style='vertical-align:middle'>
      <i class='fa fa-fw fa-{{ "check" if tenant.is_manager else "close" }}'></i>
    </td>
    <td class='text-center' style='vertical-align:middle'>
      <a href='/house/tenants/edit/{{ tenant.id }}' role='button' class='btn btn-default'>
        <i class='fa fa-sliders'></i>
      </a>
      <a href='/house/tenants/del/{{ tenant.id }}' role='button' class='btn btn-default delete-tenant'>
        <i class='fa fa-trash'></i>
      </a>
    </td>
  </tr>
{% endmacro %}

{% macro render_chore(dh, chore) %}
  <tr>
    <td style='vertical-align:middle'>
      {{ chore.name }}
    </td>
    <td class='text-center' style='vertical-align:middle'>
      {{ '%.2f' % chore.value }} <i class='fa fa-eur'></i>
    </td>
    <td class='text-center' style='vertical-align:middle'>
      <a href='/house/chores/edit/{{ chore.id }}' role='button' class='btn btn-default'>
        <i class='fa fa-sliders'></i>
      </a>
      <a href='/house/chores/del/{{ chore.id }}' role='button' class='btn btn-default delete-chore'>
        <i class='fa fa-trash'></i>
      </a>
    </td>
  </tr>
{% endmacro %}

{% macro render_bundle_list(dh, bundle) %}
  <tr>
    <td style='vertical-align:middle'>
      {{ 'y%dw%d' % bundle.date.isocalendar()[:2] }}
    </td>
    <td class='text-center' style='vertical-align:middle'>
      <a href='/house/bundles/{{ bundle.id }}' role='button' class='btn btn-default'>
        <i class='fa fa-eye'></i>
      </a>
      <a href='/house/bundles/copy/{{ bundle.id }}' role='button' class='btn btn-default'>
        <i class='fa fa-clone'></i>
      </a>
      <a href='/house/bundles/edit/{{ bundle.id }}' role='button' class='btn btn-default'>
        <i class='fa fa-sliders'></i>
      </a>
      <a href='/house/bundles/del/{{ bundle.id }}' role='button' class='btn btn-default delete-bundle'>
        <i class='fa fa-trash'></i>
      </a>
    </td>
  </tr>
{% endmacro %}

{% macro render_assignment_view(dh, assignment) %}
  <tr>
    <td class='text-center' style='vertical-align:middle'>
      <i class='fa fa-fw {{ (("fa-check" if assignment.is_tenant_home else "fa-close")) if assignment.tenant else '' }}'></i>
    </td>
    <td style='vertical-align:middle'>
      {{ assignment.tenant.name if assignment.tenant else '(anyone)' }}
    </td>
    <td style='vertical-align:middle'>
      {{ '%s' % (assignment.chore.name) if assignment.chore }}
    </td>
    <td style='vertical-align:middle'>
      {%- for completion in assignment.completions -%}
        {{ '%s, ' % completion.tenant.name }}
      {%- endfor -%}
    </td>
    <td style='vertical-align:middle'>
    </td>
  </tr>
{% endmacro %}

{% macro render_form_assignment(assignment) %}
  <tr>
    {{ assignment.assignment_id() }}
    {{ assignment.bundle_id() }}
    <td class='text-center' style='vertical-align:middle'>
      {{ assignment.is_tenant_home(class='form-control') }}
    </td>
    <td class='text-center' style='vertical-align:middle'>
      {{ assignment.tenant(class='form-control') }}
    </td>
    <td class='text-center' style='vertical-align:middle'>
      {{ assignment.chore(class='form-control') }}
    </td>
    <td class='text-center' style='vertical-align:middle'>
      {{ assignment.completed(size=2,class='form-control') if assignment.assignment_id.data != 0 else '' }}
    </td>
    <td class='text-center' style='vertical-align:middle'>
    </td>
    <td class='text-center' style='vertical-align:middle'>
      <a href='/house/assignments/del/{{ assignment.assignment_id.data }}/{{ assignment.bundle_id.data }}' role='button' class='btn btn-default'>
        <i class='fa fa-trash'></i>
      </a>
    </td>
  </tr>
{% endmacro %}
